In [1]:
import pandas as pd

In [2]:
customer_path = 'dataset/customer.csv'
sales_path = 'dataset/sales.csv'
goods_path = 'dataset/goods.csv'
category_path = 'dataset/x_tree.csv'
publisher_path = 'dataset/x_tag.csv'

customer_df = pd.read_csv(customer_path)
sales_df = pd.read_csv(sales_path)
goods_df = pd.read_csv(goods_path)
category_df = pd.read_csv(category_path)
publisher_df = pd.read_csv(publisher_path)

In [3]:
factorize_gender_col = 'f_gender'
customer_id_col = 'customer_id'

In [4]:
customer_df[factorize_gender_col] = pd.factorize(customer_df.gender)[0]
customer_df

        customer_id  gender  f_gender
0                 1       1         0
1                 2       2         1
2                 3       1         0
3                 4       1         0
4                 5       1         0
...             ...     ...       ...
204913       205813       1         0
204914       205814       1         0
204915       205815       2         1
204916       205816       1         0
204917       205817       1         0

[204918 rows x 3 columns]

In [5]:
customer_feature = customer_df[[customer_id_col, factorize_gender_col]]
customer_feature

        customer_id  f_gender
0                 1         0
1                 2         1
2                 3         0
3                 4         0
4                 5         0
...             ...       ...
204913       205813         0
204914       205814         0
204915       205815         1
204916       205816         0
204917       205817         0

[204918 rows x 2 columns]